<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quan ly sinh vien</title>
</head>
<body>
    <h1>Quan ly sinh vien</h1>
    <form action="/sinh-vien/add" method="post" th:object="${sv}">
        <p>
            Ma sinh vien:
            <input type="text" th:field="*{maSinhVien}">
        </p>
        <p>
            Ho ten:
            <input type="text" th:field="*{hoTen}">
        </p>
        <p>
            Gioi tinh:
            <input type="radio" th:field="*{gioiTinh}" th:value="true"> Nam
            <input type="radio" th:field="*{gioiTinh}" th:value="false"> Nu
        </p>
        <p>
            GPA:
            <input type="number" th:field="*{gpa}">
        </p>
        <p>
            Trang thai:
            <input type="radio" th:field="*{trangThai}" th:value="true"> Dang hoc
            <input type="radio" th:field="*{trangThai}" th:value="false"> Da tot nghiep
        </p>
        <p>
            Ten lop hoc:
            <select th:field="*{lopHoc}">
                <option th:each="lh : ${listLH}" th:value="${lh.id}" th:label="${lh.tenLopHoc}"></option>
            </select>
        </p>
        <button>Add</button>
    </form>

    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ma sinh vien</th>
            <th>Ho ten</th>
            <th>Gioi tinh</th>
            <th>GPA</th>
            <th>Trang thai</th>
            <th>Ten lop hoc</th>
            <th>Hanh dong</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sv : ${listSV}" th:object="${sv}">
            <td th:text="*{id}"></td>
            <td th:text="*{maSinhVien}"></td>
            <td th:text="*{hoTen}"></td>
            <td th:text="*{gioiTinh == true ? 'Nam' : 'Nu'}"></td>
            <td th:text="*{gpa}"></td>
            <td th:text="*{trangThai == true ? 'Dang hoc' : 'Da tot nghiep'}"></td>
            <td th:text="*{lopHoc.tenLopHoc}"></td>
            <td>
                <button><a th:href="@{|/sinh-vien/delete/*{id}|}">Delete</a></button>
                <button><a th:href="@{|/sinh-vien/view-update/*{id}|}">View Update</a></button>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>